.loginPage {
  display: flex;
  justify-content:space-around;  /* Center horizontally */
  align-items: center; 
  width: 100%;
  background-image: url("../../assests/images/image5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 50px - 40px);
}

.loginCard {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

.loginCard h2 {
  margin: 0 0 10px;
  font-size: 1.8rem;
  color: #2d572c;
}

.loginCard p {
  margin: 0 0 20px;
  font-size: 1rem;
  color: #555;
}

.formGroup {
  position: relative;
  margin-bottom: 20px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.formGroup input:focus {
  outline: none;
  border-color: #2d572c;
  box-shadow: 0 0 5px rgba(45, 87, 44, 0.5);
  border: 2px solid #2d572c;
}

.formGroup label {
  position: absolute;
  top: 0%;
  left: 12px;
  font-size: 16px;
  transform: translateY(60%);
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: white; /* Match the input field's background */
  padding: 0 5px; /* Add padding to prevent overlap */
  z-index: 1; /* Bring the label above the border */
}

.formGroup input:focus + label,
.formGroup input:not(:placeholder-shown) + label {
  top: -12px; /* Move further up to avoid overlap */
  font-size: 12px;
  color: #333;
}


.loginBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginFooter {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #555;
}

.loginFooter a {
  color: #2d572c;
  text-decoration: none;
}

.loginFooter a:hover {
  text-decoration: underline;
}

.loginButton {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #2d572c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #1b3e1e;
}

.pickleImage {
  height: 350px;
  width: 600px;
  border-radius: 15px;
}

.orText {
  text-align: center;
  margin: 15px 0;
  font-size: 1rem;
  color: #777;
  font-family: Arial, sans-serif;
}

/* Ensure proper alignment of the password field and icon */
.passwordWrapper {
  display: flex;
  align-items: center; /* Align input and icon vertically */
  position: relative;
}

.passwordWrapper input {
  flex: 1; /* Let the input take up all available space */
}

.passwordToggleIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  user-select: none;
}

/* Style error messages */
.formGroup .errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Add spacing below input fields */
}