.manageAddresses {
    padding: 20px;
    max-width: 700px;
    margin: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .addButton {
    background-color: #2d572c;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addressCard {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .options button {
    border: none;
    background: none;
    cursor: pointer;
  }
  